@using AntData.TKV.Business.Enums
@model AntData.TKV.Business.Models.MaintainancesModel
<style>
    .select2-container--default .select2-selection--single {
        height: 34px;
        border-radius: 0px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Tìm kiếm</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool " data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Đơn vị bảo dưỡng</label>
                                <select class="form-control select2" style="width: 100%;" name="Search.FactorySearchId" id="factoryForSearch">
                                    @if (Model.Search.FactorySearchId.HasValue)
                                    {
                                        <option value="@Model.Search.FactorySearchId.Value" selected="selected">@Model.Search.FactoryName</option>
                                    }
                                </select>
                                <input type="hidden" name="Search.FactoryName" id="searchFactoryName" value="@Model.Search.FactoryName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Thiết bị</label>
                                <select class="form-control select2" style="width: 100%;" name="Search.DeviceSearchId" id="deviceForSearch">
                                    @if (Model.Search.DeviceSearchId.HasValue)
                                    {
                                        <option value="@Model.Search.DeviceSearchId.Value" selected="selected">@Model.Search.DeviceName</option>
                                    }
                                </select>
                                <input type="hidden" name="Search.DeviceName" id="searchDeviceName" value="@Model.Search.DeviceName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Từ ngày - đến ngày</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="reservation" autocomplete="off">
                                    @Html.TextBoxFor(m => m.Search.FromDate, new { @class = "form-control", @type = "hidden", @id = "FromDate" })
                                    @Html.TextBoxFor(m => m.Search.ToDate, new { @class = "form-control", @type = "hidden", @id = "ToDate" })
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="input-group" style="float:right;">
                                    <button type="submit" class="btn btn-primary" value="@ButtonValueEnum.Search.ToString()" name="ButtonValue" onclick="resetPaing()">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.Search.PageNumber, new { @class = "form-control", @type = "hidden", @id = "PageNumber" })
                        @Html.TextBoxFor(m => m.Search.PageSize, new { @class = "form-control", @type = "hidden", @id = "PageSize" })
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    function resetPaing() {
        $('#PageNumber').val(1);
        return true;
    }
    $(function () {
        $('#deviceForSearch').on('select2:select', function (e) {
            var data = e.params.data;
            $('#searchDeviceName').val(data.text);
        });
        $('#deviceForSearch').on('select2:unselect', function (e) {
            $('#searchDeviceName').val('');
        });
        $('#factoryForSearch').on('select2:select', function (e) {
            var data = e.params.data;
            $('#searchFactoryName').val(data.text);
        });
        $('#factoryForSearch').on('select2:unselect', function (e) {
            $('#searchFactoryName').val('');
        });
        $("#deviceForSearch").select2({
            minimumInputLength: 0,
            allowClear: true,
            multiple: false,
            ajax: {
                url: '@Url.Action("SearchDeviceBaseForSelect2", "DeviceBase")',
                dataType: 'json',
                type: "GET",
                data: function (params) {
                    return {
                        q: params.term,
                        pageIndex: (params.page || 1),
                        pageSize: 10
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.Data,
                        pagination: {
                            more: data.Data.length >= params.page * 10
                        }
                    };
                }
            },
            placeholder: 'Chọn thiết bị',
            dropdownParent: $('#deviceForSearch').parent(),
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (results) {
                if (results) {
                    var rs = JSON.stringify(results);
                    var json = JSON.parse(rs);
                    return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
                }
                return "<div title='' id=''></div>";
            },
            templateSelection: function (results) {
                return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetFactory", "Device")",
            dataType: "json",
            data: {
                Pattern: '',
                Offset: 0,
                Limit: 10000000
            },
            success: function(response) {
                $("#factoryForSearch").select2({
                    closeOnSelect: true,
                    data: response,
                    placeholder: 'Chọn đơn vị'
                });
            }
        });

        @*$("#factoryForSearch").select2({
            minimumInputLength: 0,
            allowClear: true,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetFactory", "Device")',
                dataType: 'json',
                type: "POST",
                data: function (params) {
                    return {
                        Pattern: params.term,
                        Offset: (params.page || 0) * 10,
                        Limit: 10
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;
                    return {
                        results: data,
                        pagination: {
                            more: data.length >= 10 * params.page
                        }
                    };
                }
            },
            placeholder: 'Chọn đơn vị',
            //dropdownParent: $('#factoryForSearch').parent(),
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (results) {
                if (results) {
                    var rs = JSON.stringify(results);
                    var json = JSON.parse(rs);
                    return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
                }
                return "<div title='' id=''></div>";
            },
            templateSelection: function (results) {
                return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
            }
        });*@
    });
</script>