@using AntData.TKV.Business.Enums
@using AntData.TKV.Controllers
@model AntData.TKV.Business.Models.MaintainancesModel
@{
    ViewBag.Title = "Danh sách lịch bảo dưỡng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baseController = ViewContext.Controller as BaseController;
}

<section class="content-header">
    <h1>
        Danh sách bảo trì thiết bị
    </h1>
</section>
<section class="content">
    @using (Html.BeginForm("Index", "Maintainance", FormMethod.Post, new { id = "maintainanceSearchForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_MaintainanceSearch", Model)
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Add))
                        {
                            <a href="javascript: showPopupCreate();" class="btn btn-info">
                                <i class="fa fa-fw fa-plus"></i> Thêm mới
                            </a>
                        }
                        @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Export))
                        {
                                <button type="submit" class="btn btn-success" id="aExport" style="float: right;" value="@ButtonValueEnum.ExportExcel.ToString()" name="ButtonValue">
                            <i class="fa fa-fw fa-file-excel-o"></i> Xuất Excel
                            </button>
                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblMaintainanceList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" width="30px">TT</th>
                                    <th>Tên thiết bị</th>
                                    <th>Đơn vị quản lý</th>
                                    <th>Đơn vị đăng ký bảo dưỡng</th>
                                    <th>Ngày bảo dưỡng</th>
                                    <th>Số ngày tới bảo dưỡng</th>
                                    <th>Số lượng</th>
                                    <th>Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var indexCat = 0;

                                }
                                @foreach (var item in Model.Maintainances)
                                {
                                    indexCat++;

                                    <tr>
                                        <td class="text-center">
                                            <strong>@indexCat</strong>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DeviceDetail","Device", new { id = item.DeviceId})"><strong>@item.DeviceName</strong></a>
                                        </td>
                                        <td>
                                            @item.DeviceManageName
                                        </td>
                                        <td>
                                            @item.FactoryName
                                        </td>
                                        <td>
                                            @item.Date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td style="text-align: center;">
                                            @if (item.Date.Date >= DateTime.Today)
                                            {
                                                <span>
                                                    @{
                                                        var days = (item.Date.Date - DateTime.Today).Days;

                                                        if (days == 0)
                                                        {
                                                            <text><span style="font-weight: bold; color: red;">HÔM NAY</span></text>
                                                        }
                                                        else
                                                        {
                                                            <text> <span style="font-weight: bold; color: orange;">@days Ngày</span> </text>
                                                        }
                                                    }
                                                </span>
                                            }
                                            else
                                            {
                                                <text><span style="font-weight: bold; color: green;">Đã bảo dưỡng ngày: @item.Date.ToString("dd/MM/yyyy")</span></text>
                                            }
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                            {
                                                <a href="javascript: showPopupUpdate(@item.Id);" title="Cập nhật">
                                                    <i class="fa fa-fw fa-pencil"></i>
                                                </a>
                                            }
                                            @*@if (baseController.HasRole((int) AntData.TKV.Helper.ActionEnum.Delete))
                                                {
                                                    <a href="javascript: deleteMaintainance(@item.Id);" title="Xóa">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                }*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        @Html.Partial("_MaintainancePaging", Model)
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>
        </div>
                                                        }
</section>
@{ Html.RenderPartial("_CreateOrUpdate");}

<script>
    $(document).ready(function () {
        $("#maitainance-list").addClass("active");
        $("#category").addClass("active menu-open");
    });
    $(function () {
        $('#reservation').daterangepicker({
                locale: {
                },
                autoUpdateInput: false,
            }
            ,function (start, end, label) {
            });

        $('#reservation').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            $("#ToDate").val(picker.endDate.format('YYYY/MM/DD'));
            $("#FromDate").val(picker.startDate.format('YYYY/MM/DD'));
        });
    });

    function showPopupCreate() {
        $('#deviceForMaintainance').val(null).trigger('change');
        $('#factoryForMaintainance').val(null).trigger('change');
        $('#dateMaintainance').data("DateTimePicker").clear();
        $('#quantityMaintainance').val('');
        $('#idForMaintainance').val('');
        $('#createMaintainance').show();
        $('#updateMaintainance').hide();
        $('#noteForMaintainance').val('');
        $('#modal-maintainance').modal('show');
    }

    function showPopupUpdate(id) {
        $('#createMaintainance').hide();
        $('#updateMaintainance').show();
        $('#idForMaintainance').val(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMaintainanceDetail","Maintainance")?id=' + id,
            success: function (response) {
                if (response.data) {
                    $('#deviceForMaintainance').append(new Option(response.data.DeviceName, response.data.DeviceId, false, true));
                    $('#factoryForMaintainance').append(new Option(response.data.FactoryName, response.data.FactoryId, false, true));
                    var date = moment(response.data.Date);
                    $('#dateMaintainance').data("DateTimePicker").date(date);
                    $('#dateForMaintainance').val(date.format('YYYY-MM-DD'));
                    $('#quantityMaintainance').val(response.data.Quantity);
                    $('#noteForMaintainance').val(response.data.Note);
                    $('#modal-maintainance').modal('show');
                }
            }
        });
    }

    @*function deleteMaintainance(id) {
        bootbox.confirm({
            message: 'Bạn có muốn hủy bảo dưỡng?',
            callback: function(result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Maintainance")?id=' + id,
                        success: function (response) {
                            if (response.data) {
                                location.reload(true);
                            }
                        }
                    });
                }
            }
        });
    }*@
</script>
