@model AntData.TKV.Business.Models.UnitModel

@if (Model.TotalPage > 1)
{
    <div class="row">
        <div class="col-md-12">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    @if (Model.Search.PageNumber > 1)
                    {
                        <li class="paginate_button previous" id="example2_previous">
                            <a href="@Url.Action("Index","Unit", new { index = Model.Search.PageNumber - 1, size = Model.Search.PageSize})"
                               aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                    }
                    @for (var i = 1; i <= Model.TotalPage; i++)
                    {
                        var clsActive = "";
                        if (i == Model.Search.PageNumber)
                        {
                            clsActive = "active";
                        }
                        <li class="paginate_button @clsActive">
                            <a href="@Url.Action("Index","Unit", new { index = i, size = Model.Search.PageSize})" aria-controls="example2" data-dt-idx="@i" tabindex="@i-1">@i</a>
                        </li>
                    }
                    @if (Model.Search.PageNumber < Model.TotalPage)
                    {
                        <li class="paginate_button next" id="example2_next">
                            <a href="@Url.Action("Index","Unit", new { index = Model.Search.PageNumber + 1, size = Model.Search.PageSize})" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}


