@model AntData.TKV.Business.Models.DeviceNotesModel
<style>
    .pagination > .active > button, .pagination > .active > button:focus, .pagination > .active > button:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 3 !important;
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }

    .pagination > li > button {
        background: #fafafa !important;
        color: #666 !important;
    }

    .pagination > li > button, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        border: 1px solid #ddd;
    }

    .pagination > li:first-child > button, .pagination > li:first-child > span {
        margin-left: 0;
        -ms-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -ms-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pagination > li:last-child > button, .pagination > li:last-child > span {
        -ms-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -ms-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
</style>
@if (Model.TotalPage > 1)
{
<div class="row">
    <div class="col-md-12">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                @if (Model.Search.PageIndex > 1)
                {
                <li class="paginate_button previous" id="example2_previous">
                    <button data-dt-idx="0" tabindex="0" style="cursor: pointer;" value="search" name="ButtonValue"
                            onclick="pagingDeviceList(@(Model.Search.PageIndex - 1), @Model.Search.PageSize)">
                        Previous
                    </button>
                </li>
                }
                @for (var i = 1; i <= Model.TotalPage; i++)
                {
                var clsActive = "";
                if (i == Model.Search.PageIndex)
                {
                clsActive = "active";
                }
                <li class="paginate_button @clsActive">
                    <button data-dt-idx="@i" tabindex="@i-1" onclick="pagingDeviceList(@i, @Model.Search.PageSize)" value="search" name="ButtonValue" style="cursor: pointer;">
                        @i
                    </button>
                </li>
                }
                @if (Model.Search.PageIndex < Model.TotalPage)
                {
                <li class="paginate_button next" id="example2_next">
                    <button data-dt-idx="7" tabindex="0" value="search" name="ButtonValue"
                            onclick="pagingDeviceList(@(Model.Search.PageIndex + 1), @Model.Search.PageSize)" style="cursor: pointer;">
                        Next
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
}
<script>
    function pagingDeviceList(pageIndex, pageSize) {
        $('#PageNumber').val(pageIndex);
        $('#PageSize').val(pageSize);
        $('#deviceNoteSearchForm').submit();
    }
</script>


