@using System.Net.Configuration
@model AntData.TKV.Business.Models.DeviceNotesModel
<style>
    .select2-container--default .select2-selection--single {
        height: 34px;
        border-radius: 0px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Tìm kiếm</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool " data-widget="collapse"><i class="fa fa-minus"></i></button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Người tạo</label>
                                <select class="form-control select2" id="optionUser" style="width: 100%;" name="Search.UserId">
                                    @if (Model.Search.UserId > 0)
                                    {
                                        <option value="@Model.Search.UserId" selected="selected">@Model.Search.UserName</option>
                                    }
                                </select>
                                @Html.HiddenFor(m => m.Search.UserName, new { @class = "form-control", @id = "UserName" })
                                @Html.TextBoxFor(m => m.Search.DeviceId, new { @class = "form-control", @type = "hidden", @id = "DeviceId" })
                            </div>
                            <div class="form-group">
                                <label>Đơn vị</label>
                                <select class="form-control select2" id="optionFactory" style="width: 100%;" name="Search.FactoryId">
                                    @if (Model.Search.FactoryId.HasValue)
                                    {
                                        <option value="@Model.Search.FactoryId.Value" selected="selected">@Model.Search.FactoryName</option>
                                    }
                                </select>
                                @Html.HiddenFor(m => m.Search.FactoryName, new { @class = "form-control", @id = "FactoryName" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="reservation" autocomplete="off">
                                    @Html.TextBoxFor(m => m.Search.DateRange, new { @class = "form-control", @type = "hidden", @id = "DateRange" })
                                    @Html.TextBoxFor(m => m.Search.DateNoteStart, new { @class = "form-control", @id = "DateNoteStart", @type = "hidden" })
                                    @Html.TextBoxFor(m => m.Search.DateNoteEnd, new { @class = "form-control", @id = "DateNoteEnd", @type = "hidden" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tên thiết bị</label>
                                <select class="form-control select2" style="width: 100%;" name="Search.DeviceSearchId" id="deviceForSearch">
                                    @if (Model.Search.DeviceSearchId.HasValue)
                                    {
                                        <option value="@Model.Search.DeviceSearchId.Value" selected="selected">@Model.Search.DeviceName</option>
                                    }
                                </select>
                                <input type="hidden" name="Search.DeviceName" id="searchDeviceName" value="@Model.Search.DeviceName" />
                            </div>
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="input-group" style="float:right; margin-top:25px;">
                                    <button type="submit" class="btn btn-primary" onclick="resetPaing()" value="search" name="ButtonValue">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                                @Html.TextBoxFor(m => m.Search.PageIndex, new { @class = "form-control", @type = "hidden", @id = "PageNumber" })
                                @Html.TextBoxFor(m => m.Search.PageSize, new { @class = "form-control", @type = "hidden", @id = "PageSize" })
                            </div>
                        </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetFactory", "Device")",
            dataType: "json",
            data: {
                Pattern: '',
                Offset: 0,
                Limit: 10000000
            },
            success: function(response) {
                $("#optionFactory").select2({
                    closeOnSelect: true,
                    data: response,
                    placeholder: 'Chọn đơn vị'
                });
                //$("#optionFactory").val('@Model.Search.FactoryId').trigger('change');
            }
        });
       @*$("#optionFactory").select2({
            minimumInputLength: 0,
            allowClear: true,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetFactory","Device")',
                dataType: 'json',
                type: "POST",
                data: function (params) {
                    return {
                        Pattern: params.term,
                        Offset: (params.page || 0) * 10,
                        Limit: 10
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;
                    console.log(data);
                    return {
                        results: data,
                        pagination: {
                            more: data.length >= 10 * params.page
                        }
                    };
                }
            },
            placeholder: 'Chọn đơn vị',
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (results) {
                if (results) {
                    var rs = JSON.stringify(results);
                    var json = JSON.parse(rs);
                    return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
                }
                return "<div title='' id=''></div>";
            },
            templateSelection: function (results) {
                return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
            }
        });*@

        $("#optionFactory").on('select2:select',
            function(e) {
                var data = e.params.data;
                $('#FactoryName').val(data.text);
            });

        $("#optionFactory").on('select2:unselect',
            function(e) {
                $('#FactoryName').val('');
            });

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUserForSelect2", "Users")",
            dataType: "json",
            data: {
                Pattern: '',
                Offset: 0,
                Limit: 10000000
            },
            success: function(response) {
                $("#optionUser").select2({
                    closeOnSelect: true,
                    data: response,
                    placeholder: 'Chọn người tạo'
                });
            }
        });

        @*$("#optionUser").select2({
            minimumInputLength: 0,
            allowClear: true,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetUserForSelect2", "Users")',
                dataType: 'json',
                type: "POST",
                data: function (params) {
                    return {
                        Pattern: params.term,
                        Offset: (params.page || 0) * 10,
                        Limit: 10
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 0;
                    console.log(data);
                    return {
                        results: data,
                        pagination: {
                            more: data.length >= 10 * params.page
                        }
                    };
                }
            },
            placeholder: 'Chọn đơn vị tính',
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (results) {
                if (results) {
                    var rs = JSON.stringify(results);
                    var json = JSON.parse(rs);
                    return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
                }
                return "<div title='' id=''></div>";
            },
            templateSelection: function (results) {
                return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
            }
        });*@
        $("#optionUser").on('select2:select',
            function(e) {
                var data = e.params.data;
                $('#UserName').val(data.text);
            });

        $("#optionUser").on('select2:unselect',
            function(e) {
                $('#UserName').val('');
            });

        $('#reservation').daterangepicker({
            locale: {
                //format: 'DD/MM/YYYY'
            },
            autoUpdateInput: false,
        }
        , function (start, end, label) {
            //$("#EndDate").val(end.format('YYYY-MM-DD'));
            //$("#StartDate").val(start.format('YYYY-MM-DD'));
            $("#DateRange").val(start.format('DD/MM/YYYY') + " - " + end.format("DD/MM/YYYY"));
        });

        $('#reservation').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            $("#DateNoteEnd").val(picker.endDate.format('MM/DD/YYYY'));
            $("#DateNoteStart").val(picker.startDate.format('MM/DD/YYYY'));
            $("#DateRange").val(picker.startDate.format('MM/DD/YYYY') + " - " + picker.endDate.format("MM/DD/YYYY"));
        });

        $('#reservation').val($("#DateRange").val());

        $('#deviceForSearch').on('select2:select', function (e) {
            var data = e.params.data;
            $('#searchDeviceName').val(data.text);
        });

        $('#deviceForSearch').on('select2:unselect', function (e) {
            $('#searchDeviceName').val('');
            $('#DeviceId').val('');
        });

        $("#deviceForSearch").select2({
            minimumInputLength: 0,
            allowClear: true,
            multiple: false,
            ajax: {
                url: '@Url.Action("SearchDeviceBaseForSelect2", "DeviceBase")',
                dataType: 'json',
                type: "GET",
                data: function (params) {
                    return {
                        q: params.term,
                        pageIndex: (params.page || 1),
                        pageSize: 10
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.Data,
                        pagination: {
                            more: data.Data.length >= params.page * 10
                        }
                    };
                }
            },
            placeholder: 'Chọn thiết bị',
            //dropdownParent: $('#deviceForSearch').parent(),
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (results) {
                if (results) {
                    var rs = JSON.stringify(results);
                    var json = JSON.parse(rs);
                    return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
                }
                return "<div title='' id=''></div>";
            },
            templateSelection: function (results) {
                return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
            }
        });

        //$('#startDate').datepicker({
        //    autoclose:true,
        //    onSelect: function (dateText) {
        //        display("Selected date: " + dateText + "; input's current value: " + this.value);
        //    }
        //})
        //.on('changeDate', function (ev) {
        //    console.log($(this).val(), ev);
        //    $('#DateNoteStart').val($(this).val());
        //});

        //$('#endDate').datepicker({
        //    autoclose: true,
        //    onSelect: function (dateText) {
        //        display("Selected date: " + dateText + "; input's current value: " + this.value);
        //        $(this).change();
        //    }
        //})
        // .on('changeDate', function (ev) {
        //     console.log($(this).val(), ev);
        //     $('#DateNoteEnd').val($(this).val());
        // });
    });
    function resetPaing() {
        $('#PageNumber').val(1);
        return true;
    }
</script>    