@using AntData.TKV.Controllers
@model AntData.TKV.Business.Models.DeviceTransferModel
@{
    ViewBag.Title = "Tổng hợp lịch sử điều chuyển thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baseController = ViewContext.Controller as BaseController;
}
<style>
    .select2-container--default .select2-selection--single {
        height: 34px;
        border-radius: 0px;
    }
</style>
<section class="content-header">
    <h1>
        Quản lý tổng hợp lịch sử điều chuyển thiết bị
    </h1>
</section>

<!-- Main content -->
<section class="content">
    @Html.Partial("_DeviceTransferSearch", Model)
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#devicetransfer" data-toggle="tab">Lịch sử điều chuyển thiết bị</a></li>
                    @*<li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                        <li><a href="#settings" data-toggle="tab">Settings</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="devicetransfer">
                        @if (Model != null && Model.DeviceTransfer != null && Model.DeviceTransfer.Any())
                        {
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                @foreach (var item in Model.DeviceTransfer)
                                {
                                    <li class="time-label">
                                        @if (item.Approved == 1)
                                        {
                                            <span class="bg-aqua">
                                                @item.TransferDate.ToString("dd-MM-yyyy")
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="bg-red">
                                                @item.TransferDate.ToString("dd-MM-yyyy")
                                            </span>
                                        }
                                        <div class="timeline-item" style="margin-top: 16px">
                                            <h3 class="timeline-header">Tên thiết bị: <a href="@Url.Action("DeviceDetail", "Device", new {id = item.DeviceId})">
                                                @item.DeviceName
                                            </a>
                                                </h3>
                                            <span class="time"><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                                            <h3 class="timeline-header">Điều chuyển thiết bị từ đơn vị: <a href="@Url.Action("DeviceList","Device", new{ factoryId = item.CurrentFactory})" target="_blank">@item.CurrentFactoryName</a> đến <a href="@Url.Action("DeviceList","Device", new{ factoryId = item.TargetFactory})">@item.TargetFactoryName </a></h3>
                                            <div class="timeline-body">
                                                Số lượng: @item.Quantity <br />
                                                Tình trạng: @item.StatusName <br />
                                                Ghi chú: @item.Description <br />
                                            </div>
                                            <div class="timeline-footer">
                                                Trạng thái:
                                                @if (item.Approved == 1)
                                                {
                                                    <label class="text-info">Đã duyệt</label>
                                                }
                                                else if (item.Approved == 0)
                                                {
                                                    <label class="text-warning">Chưa duyệt</label>
                                                    if (baseController.IsAdmin)
                                                    {
                                                        <a class="btn btn-info btn-sm" onclick="approved(@item.Id, 1, '@item.TransferDate.ToString("dd/MM/yyyy")', '@item.CurrentFactoryName', '@item.TargetFactoryName')">Nhận về đơn vị</a>
                                                        <a class="btn btn-warning btn-sm" onclick="approved(@item.Id, -1, '@item.TransferDate.ToString("dd/MM/yyyy")', '@item.CurrentFactoryName', '@item.TargetFactoryName')">Hủy</a>
                                                    }
                                                    else
                                                    {
                                                        if (baseController.IsFactory(item.TargetFactory))
                                                        {
                                                            if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.ApprovedTranfer))
                                                            {
                                                                <a class="btn btn-info btn-sm" onclick="approved(@item.Id, 1, '@item.TransferDate.ToString("dd/MM/yyyy")', '@item.CurrentFactoryName', '@item.TargetFactoryName')">Nhận về đơn vị</a>
                                                                <a class="btn btn-warning btn-sm" onclick="approved(@item.Id, -1, '@item.TransferDate.ToString("dd/MM/yyyy")', '@item.CurrentFactoryName', '@item.TargetFactoryName')">Hủy</a>
                                                            }
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <label class="text-danger">Hủy</label>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        }
                    </div>
                    @Html.Partial("_DeviceTransferPaging", Model)
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

<script type="text/javascript">
    function approved(id, status, transferDate, currentFactoryName, targetFactoryName) {
        var str = "Bạn có chắc chắn muốn nhận thiết bị này về đơn vị?";
        if (status == -1) {
            str = "Bạn có chắc chắn muốn hủy nhận thiết bị này về đơn vị?";
        }
        var r = confirm(str);
        if (r == true) {
            $.ajax({
                method: "POST",
                url: "/device/devicetransferapproved",
                data: {
                    Id: id,
                    Status: status,
                    TransferDate: transferDate,
                    CurrentFactoryName: currentFactoryName,
                    TargetFactoryName: targetFactoryName
                }
            })
                .done(function (msg) {
                    if (msg.Status == 1) {
                        if (status == 1) {
                            alert("Bạn đã nhận về đơn vị thành công!");
                        }
                        else {
                            alert("Bạn đã hủy thành công!");
                        }
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    }
                    else {
                        alert("Không thực hiện được thao tác!");
                    }
                });
        }
    };
</script>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#devicetransferlist").addClass("active");
            $("#category").addClass("active menu-open");
        });
    </script>
}