@using AntData.TKV.Controllers
@model AntData.TKV.Business.Models.DevicesModel
@{
    ViewBag.Title = "Danh sách thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baseController = ViewContext.Controller as BaseController;
    var total = 0;
    if (Model.Devices != null && Model.Devices.Any())
    {
        var devices = Model.Devices.FirstOrDefault();
        if (devices != null && devices.DeviceList != null && devices.DeviceList.Any())
        {
            var item = devices.DeviceList.FirstOrDefault();
            if (item != null)
            {
                total = item.TotalCount;
            }
        }
    }
}
<section class="content-header">
    <h1>
        Danh sách thiết bị
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">
    @using (Html.BeginForm("DeviceList", "Device", FormMethod.Post, new {id = "deviceListForm"}))
    {
        @Html.Partial("_DeviceSearch", Model)
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div>
                            @if (baseController.HasRole((int) AntData.TKV.Helper.ActionEnum.Add))
                            {
                                <a href="/device" class="btn btn-info">
                                    <i class="fa fa-fw fa-plus"></i> Thêm mới
                                </a>
                            }
                            @if (baseController.HasRole((int) AntData.TKV.Helper.ActionEnum.Export))
                            {
                                <button type="submit" class="btn btn-success" id="aExport" name="ButtonValue" value="exportExcel" style="float: right">
                                    <i class="fa fa-fw fa-file-excel-o"></i> Xuất Excel
                                </button>
                            }
                            <a class="btn btn-success" onclick="ShowImportForm();">
                                <i class="fa fa-fw fa-file-excel-o"></i> Nhập Excel
                            </a>
                        </div>
                        <div class="text-right">
                            Tìm thấy @total bản ghi
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblDeviceList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" width="30px">TT</th>
                                    <th>Tên thiết bị</th>
                                    <th class="hidden-xs">Đơn vị quản lý, sử dụng</th>
                                    <th class="hidden-xs">Thiết bị điều khiển</th>
                                    <th class="hidden-xs">Sổ quản lý</th>
                                    <th class="hidden-xs">Sổ tài sản</th>
                                    <th class="hidden-xs">Vị trí lắp đặt</th>
                                    <th class="hidden-xs">Số lượng</th>
                                    <th class="hidden-xs">TG sử dụng</th>
                                    <th>Trạng thái</th>
                                    @*<th style="width:200px" class="hidden-xs hidden-sm">Thông số</th>*@
                                    <th>Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var indexCat = 1;
                                }
                                @foreach (var item in Model.Devices)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <strong>@AntData.TKV.Helper.RomanNumber.ConvertToRoman(indexCat)</strong>
                                        </td>
                                        <td colspan="10">
                                            <strong>@item.DeviceCategoryName</strong>
                                        </td>
                                    </tr>
                                    var indexItem = 1;
                                    foreach (var itemCol in item.DeviceList)
                                    {
                                        <tr>
                                            <td class="text-center">@itemCol.RowNumber</td>
                                            <td>
                                                <a href="/device/devicedetail?id=@itemCol.Id">@itemCol.DeviceName</a><br />
                                                <div class="hidden-lg hidden-md hidden-sm">
                                                    <span class="label label-info">@itemCol.FactoryName</span><br />
                                                    Thiết bị điều khiển:
                                                    <p>@itemCol.ControlDevice</p>
                                                    Số quản lý:
                                                    <p>@itemCol.NumberOfManagement</p>
                                                    Số tài sản:
                                                    <p>@itemCol.AssetNumber</p>
                                                    Vị trí lắp đặt:
                                                    <p>@itemCol.InstallationLocation</p>
                                                    Số lượng:
                                                    <p>@itemCol.UnitQuantity @itemCol.UnitName</p>
                                                </div>
                                            </td>
                                            <td class="text-center hidden-xs">
                                                <span class="label label-info">@itemCol.FactoryName</span>
                                            </td>
                                            <td class="hidden-xs">@itemCol.ControlDevice</td>
                                            <td class="hidden-xs">@itemCol.NumberOfManagement</td>
                                            <td class="hidden-xs">@itemCol.AssetNumber</td>
                                            <td class="hidden-xs">@itemCol.InstallationLocation</td>
                                            <td class="hidden-xs">@itemCol.UnitQuantity @itemCol.UnitName</td>

                                            <td class="hidden-xs">
                                                @if (itemCol.YearToUse.HasValue)
                                                {
                                                    <span>@itemCol.YearToUse.Value.ToString("dd/MM/yyyy")</span>
                                                }
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(itemCol.StatusClass))
                                                {
                                                    <span class="label @itemCol.StatusClass">@itemCol.StatusName</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default">@itemCol.StatusName</span>
                                                }
                                            </td>
                                            @*<td class="hidden-xs hidden-sm">@Html.Raw(itemCol.Specifications)</td>*@
                                            <td>
                                                @if (baseController.IsFactory(itemCol.FactoryId))
                                                {
                                                    if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                                    {
                                                        <a href="@Url.Action("Update","Device", new { id = itemCol.Id})" title="Cập nhật" class="label label-success margin-r-5">
                                                            <i class="fa fa-fw fa-edit"></i> Cập nhật
                                                        </a>
                                                    }
                                                    if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                                    {
                                                        <a href="#" title="Ghi chú" class="label label-info margin-r-5" onclick="openNote(@itemCol.Id, '@itemCol.DeviceName', '@itemCol.FactoryName');">
                                                            <i class="fa fa-fw fa-sticky-note-o"></i> Ghi chú
                                                        </a>
                                                        <a href="@Url.Action("DeviceNoteList","Device", new { deviceId = itemCol.Id})" class="label label-primary margin-r-5" title="Danh sach ghi chú">
                                                            <i class="fa fa-fw fa-list-alt"></i> Danh sách ghi chú
                                                        </a>
                                                        <a href="#" class="label label-warning" onclick="openTransfer(@itemCol.Id, '@itemCol.DeviceName', @itemCol.FactoryId, '@itemCol.FactoryName', @itemCol.UnitQuantity)" title="Điều chuyển thiết bị">
                                                            <i class="fa fa-fw  fa-book"></i> Điều chuyển thiết bị
                                                        </a>
                                                        @*<a href="#" onclick="openMaintainance(@itemCol.Id)" title="Đặt lịch bảo dưỡng">
                                                                <i class="fa fa-fw fa-calendar"></i>
                                                            </a>*@
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        indexItem++;
                                    }
                                    indexCat++;
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        @Html.Partial("_DevicePaging", Model)
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>
        </div>
    }
</section>
<script src="~/Content/js/bootbox.js"></script>
@Html.Partial("_DeviceNotePopup", Model)
@Html.Partial("_ImportExcel")
@Html.Partial("_DeviceTransferPopup", Model)
<script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>
<script src="~/Content/js/jquery.validate/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function openNote(id, deviceName, factoryName) {
        $("#modal-devicenote").modal('show');
        $("#noteTitle").text(deviceName);
        $("#popupDeviceId").val(id);
        $("#noteMessage").text("");
        $("#deviceNote").val("");
        $("#factoryName").text(factoryName);
    };

    function openTransfer(deviceId, deviceName, currentFactoryId, currentFactoryName, currentQuantity) {
        $("#modal-devicetransfer").modal('show');
        $("#deviceTranferName").text(deviceName);
        $("#deviceId").val(deviceId);
        $("#targetFactoryId").val("");
        $("#currentFactoryName").text(currentFactoryName);
        $("#currentFactoryId").val(currentFactoryId);
        $("#deviceTranferNote").val("");
        $("#quantityTransfer").val("");
        $("#transferMessage").text("");
        $("#currentQuantity").val(currentQuantity);
    }

    function ShowImportForm() {
        $('#factoryForImport').val(null).trigger('change');
        $('#fileToUpload').val('');
        $('#displayError').empty();
        $('#modal-importdevice').modal('show');
    }
</script>
@*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-note">
        Launch Default Modal
    </button>
    <div class="modal fade" id="modal-note">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@
<!-- /.modal -->
@*<script>
          $(function () {
              $('#tblDeviceList').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            })
          })
        </script>
    @section scripts{
        <script>
            $(document).ready(function () {
                $("#aExport").on('click', function () {
                    $.ajax({
                        type: "GET",
                        url: "/device/export",
                        success: function (response) {
                            if (response.Status == 0) {
                                bootbox.alert("Không xuất được dữ liệu");
                            }
                        }
                    });
                });
            });
        </script>
    }*@
