@model AntData.TKV.Business.Models.DeviceTransferModel
@{
    Layout = null;
}

<div class="modal fade" id="modal-devicetransfer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Điều động thiết bị
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="box-body">
                        <div class="form-group">
                            <label id="deviceName"></label>
                        </div>
                        <div class="form-group">
                            <label>Đơn vị quản lý hiện tại</label>
                            @Html.TextBox(Model.CurrentFactoryName, new { @id = "currentFactoryName", @readonly = "readonly" })
                            @Html.TextBoxFor(m=>m.CurrentFactory, new { @id = "currentFactoryId", @type = "hidden" })
                        </div>
                        <div class="form-group">
                            <label>Đơn vị chuyển đến</label>
                            <select class="form-control select2" id="optionFactory" style="width: 100%;"></select>
                            @Html.TextBoxFor(m => m.TargetFactory, new { @class = "form-control", @type = "hidden", @id = "targetFactoryId" })
                        </div>
                        <div class="form-group">
                            <label>Ngày chuyển</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="transferDate">
                                @Html.TextBoxFor(m => m.TransferDate, new { @class = "form-control", @type = "hidden", @id = "TransferDate" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số lượng</label>
                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "Quantity", @Value = 0 })
                        </div>
                        <div class="form-group">
                            <label>Tình trạng thiết bị</label>
                            <select class="form-control select2" id="optionDeviceStatus" style="width: 100%;"></select>
                            @Html.TextBoxFor(m => m.TransferStatus, new { @type = "hidden", @id = "TransferStatus" })
                            @Html.TextBoxFor(m => m.StatusName, new { @type = "hidden", @id = "StatusName" })
                            @Html.TextBoxFor(m => m.DeviceId, new { @type = "hidden", @id = "deviceId" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="noteMessage" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <a class="btn btn-info pull-left hide" id="aNoteList">Thông tin điều chuyển</a>
                <button type="button" class="btn btn-primary">Điều chuyển</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

