@model AntData.TKV.Business.Models.DeviceNotesModel
@using AntData.TKV.Controllers
@{
    ViewBag.Title = "Quản lý ghi chú thiết bị";
    var baseController = ViewContext.Controller as BaseController;
}
<section class="content-header">
    <h1>
        Danh sách ghi chú thiết bị
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("DeviceNoteList", "Device", FormMethod.Post, new { id = "deviceNoteSearchForm" }))
    {
        @Html.Partial("_DeviceNoteSearch", Model)
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Add))
                        {
                            if (Model.DeviceNote.DeviceId > 0)
                            {
                                <a href="#" class="btn btn-info" onclick="openNote(@Model.DeviceNote.DeviceId, '@Model.DeviceName', '')">
                                    <i class="fa fa-fw fa-plus"></i> Thêm mới
                                </a>
                            }
                        }
                        <a class="btn btn-success" href="@Url.Action("DeviceList", "Device")">
                            <i class="fa fa-fw fa-list"></i> Danh sách thiết bị
                        </a>
                        <button type="submit" class="btn btn-success" id="aExport" name="ButtonValue" value="exportExcel" style="float: right">
                            <i class="fa fa-fw fa-file-excel-o"></i> Xuất Excel
                        </button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblDeviceList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" width="30px">TT</th>
                                    <th>Ghi chú</th>
                                    <th>Người tạo</th>
                                    <th>Ngày tạo</th>
                                    <th width="60px">Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                    foreach (var item in Model.DeviceNoteList)
                                    {
                                        <tr>
                                            <td></td>
                                            <td colspan="3">
                                                <strong>Thiết bị: </strong>@item.DeviceName &nbsp;
                                                <strong>Đơn vị quản lý: </strong>@item.FactoryName
                                            </td>
                                            <td>
                                                @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                                {
                                                    <a href="#" title="Ghi chú" onclick="openNote(@item.DeviceId, '@item.DeviceName', '@item.FactoryName');">
                                                        <i class="fa fa-fw fa-sticky-note-o"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        for (var i = 0; i < item.DeviceNoteList.Count; i++)
                                        {
                                            var itemCol = item.DeviceNoteList[i];
                                            <tr>
                                                <td class="text-center">@((Model.Search.PageIndex - 1) * Model.Search.PageSize + index)</td>
                                                <td>@itemCol.Note</td>
                                                <td>@itemCol.UserNote</td>
                                                <td>@itemCol.DateUpdated.ToString("dd/MM/yyyy HH:mm")</td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                }

                            </tbody>
                            <tfoot>
                                @*<tr>
                                        <th>Tên thiết bị</th>
                                        <th>Thiết bị điều khiển</th>
                                        <th>Sổ quản lý</th>
                                        <th>Vị trí lắp đặt</th>
                                        <th>Đơn vị tính</th>
                                        <th>Số lượng</th>
                                        <th>Trạng thái</th>
                                        <th>Ghi chú</th>
                                        <th></th>
                                    </tr>*@
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    @Html.Partial("_DeviceNotePaging", Model)
                </div>
                <!-- /.box -->
            </div>
            @Html.Partial("_DeviceNotePopup", Model)
        </div>
     }
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#device-note").addClass("active");
        $("#category").addClass("active menu-open");
    });

    function openNote(id, deviceName, factoryName) {
        $("#modal-devicenote").modal('show');
        $("#noteTitle").text(deviceName);
        $("#popupDeviceId").val(id);
        $("#noteMessage").text("");
        $("#deviceNote").val("");
        $("#factoryName").text(factoryName);
        if (factoryName === '' && deviceName === '') {
            $("#titleDeviceNotePopup").addClass("hidden");
        } else {
            $("#titleDeviceNotePopup").removeClass("hidden");
        }

    };
</script>