@using AntData.TKV.Controllers
@model AntData.TKV.Business.Models.DeviceCategoryModel
@{
    ViewBag.Title = "Danh mục thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baseController = ViewContext.Controller as BaseController;
}


<section class="content-header">
    <h1>
        Quản lý danh mục thiết bị
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="row">

        @if (Model.DeviceCategory.Id > 0)
        {
            if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
            {
                <div class="col-md-6">
                    @Html.Partial("_DeviceCategoryUpdate", Model)
                </div>
            }
        }
        else
        {
            if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Add))
            {
                <div class="col-md-6">
                    @Html.Partial("_DeviceCategoryCreate", Model)
                </div>
            }
        }


        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách danh mục thiết bị</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên danh mục</th>
                                <th>Tổng số thiết bị</th>
                                <th>Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DeviceCategorys != null && Model.DeviceCategorys.Count > 0)
                            {
                                foreach (var item in Model.DeviceCategorys)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.NumberDevice</td>
                                        <td>
                                            @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                            {
                                                <a href="/device/devicecategory?id=@item.Id" title="Cập nhật">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                            }
                                            @*<a href="#" title="Xóa" onclick="del(@item.Id);">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </a>*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>*@
                    </table>
                    @Html.Partial("_DeviceCategoryPaging", Model)
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#device-devicecategory").addClass("active");
            $("#category").addClass("active menu-open");
        });
    </script>
}