@model AntData.TKV.Business.Models.UserChangePassModel
@{
    Layout = null;

}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("ChangePass", "Users", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    <div class="modal fade" id="modal-changepass">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Thay đổi mật khẩu</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="pass" class="col-sm-4 control-label">Mật khẩu mới  <span class="require-input" style="color: red;" title="">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới", @type = "password", @id = "newPass" })
                                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @type = "hidden", @id = "changePassUserId" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passRe" class="col-sm-4 control-label">Nhập lại mật khẩu  <span class="require-input" style="color: red;" title="">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.RePassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu", @type = "password", @id = "oldPass" })
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <span id="changePassError" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<script type="text/javascript">
    function OnSuccess(data) {
        if (data.Data == 1) {
            $("#changePassError").text(data.Message).addClass("label label-info");
        }
        else {
            $("#changePassError").text(data.Message).addClass("label label-warning");
        }
    }
    function OnFailure(data) {
        $("#changePassError").text("Có lỗi xảy ra").addClass("label label-danger");
    }

    $(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#result').html(result);
                    }
                });
            }
            return false;
        });
    });
</script>