@using AntData.TKV.Controllers
@model AntData.TKV.Business.Models.UsersModel
@{
    ViewBag.Title = "Quản lý người dùng";
    var baseController = ViewContext.Controller as BaseController;
}

<section class="content-header">
    <h1>
        Quản lý người dùng
    </h1>
    <ol class="breadcrumb">
        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>*@
    </ol>
</section>
<section class="content">
    @if (Model.User.Id > 0)
    {
        if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
        {
         @Html.Partial("_UserUpdate", Model)
        }
    }
    else
    {
        if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Add))
        {
            @Html.Partial("_UserCreate", Model)
        }
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @Html.Partial("_UserSearch", Model)
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" width="30px">TT</th>
                            <th>Tên người dùng</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Quyền</th>     
                            <th>Trạng thái</th>              
                            <th width="100px">Công cụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var index = 1;                                
                        }
                        @foreach (var item in Model.UserList)
                        {
                            <tr>
                                <td class="text-center">
                                    @((Model.Search.PageNumber - 1) * Model.Search.PageSize + index)
                                </td>
                                <td>
                                    @item.Username
                                </td>
                                <td>
                                    @item.Firstname @item.Lastname
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @if(item.RolesName!=null && item.RolesName.Count>0)
                                    {
                                        foreach(var r in item.RolesName)
                                        {
                                            <span class="label label-primary">@r</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @if(item.Inactive)
                                    {
                                        <span class="label label-info">Hoạt động</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Đang khóa</span>
                                    }

                                </td>
                                <td>
                                    @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update)){
                                        <a href="@Url.Action("Index","Users", new{ id = item.Id})" title="Cập nhật">
                                            <i class="fa fa-fw fa-edit"></i>
                                        </a>
                                    }
                                    &nbsp;
                                    @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Add)){
                                        <a onclick="openRole(@item.Id)" href="#" title="Phân quyền">
                                            <i class="fa fa-users"></i>
                                        </a>
                                    }
                                    &nbsp;
                                    @if (baseController.HasRole((int)AntData.TKV.Helper.ActionEnum.Update))
                                    {
                                        <a href="#" onclick="openChangePass(@item.Id, '@item.Firstname @item.Lastname')"><i class="fa fa-user-secret"></i></a>
                                    }
                                    &nbsp;
                                </td>
                            </tr>    
                            index++;
                        }
                        </tbody>
                        <tfoot>
                        @*<tr>
                                    <th>Tên thiết bị</th>
                                    <th>Thiết bị điều khiển</th>
                                    <th>Sổ quản lý</th>
                                    <th>Vị trí lắp đặt</th>
                                    <th>Đơn vị tính</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>*@
                        </tfoot>
                    </table>
                    @Html.Partial("_UserPaging", Model)
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<div class="modal fade" id="modal-changepass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thay đổi mật khẩu cho <b id="userNameChangePass"></b></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input id="changePassUserId" hidden=""/>
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        <div class="form-group" style="width: 100%; float: left;">
                            <label for="pass" class="col-sm-2 control-label">Mật khẩu mới <span class="require-input" style="color: red;" title="">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" data-val="true" id="NewPassword" minlength="8" name="NewPassword" placeholder="Mật khẩu mới" type="password" value="">
                                <span class="field-validation-valid text-danger" id="NewPasswordErr"></span>
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%; float: left;">
                            <label for="passRe" class="col-sm-2 control-label">Nhập lại mật khẩu <span class="require-input" style="color: red;" title="">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" data-val="true"  id="RePassword" name="RePassword" placeholder="Nhập lại mật khẩu" type="password" value="">
                                <span class="field-validation-valid text-danger" id="RePasswordErr"></span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <span id="changePassError" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="changePass()" class="btn btn-primary">Cập nhật</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@{ Html.RenderAction("RolesView", "Roles");}

@*@{ Html.RenderAction("ChangePass", "Users");}*@

@section scripts{
    <script>
        @*$(document).ready(function () {
            var current = '@ViewBag.Current';
            var parent = '@ViewBag.Parent';
            $("#"+current).addClass("active");
            $("#"+parent).addClass("active menu-open");
        });*@

        var userId = 0;
        var roleIds = [];
        function openRole(id) {
            $("#modal-roles").modal('show');
            userId = id;
            setActiveRoles();
            $("#message").text("");
        };

        function openChangePass(id, name) {
            $("#modal-changepass").modal('show');
            $("#changePassUserId").val(id);
            $("#newPass").val("");
            $("#oldPass").val("");
            $("#changePassError").val("");
            $("#changePassUserId").val(id);
            $("#NewPassword").val("");
            $("#RePassword").val("");
            $("#NewPasswordErr").text("");
            $("#RePasswordErr").text("");
            $("#userNameChangePass").text(name);
        };

        function setActiveRoles() {
            $("input:checkbox[name=roles]").prop('checked', false);
            $.get({
                url: '/roles/getrolebyuser?userId=' + userId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.Status == 1) {
                        for (i = 0; i < response.Data.length; i++) {
                            $("#roles_" + response.Data[i]).prop('checked', true);
                        }
                    }

                }
            });
        }

        function getRoleIds() {
            roleIds = [];
            $("input:checkbox[name=roles]:checked").each(function () {
                roleIds.push($(this).val());
            });
        }
        function changePass() {
            var userid = $("#changePassUserId").val();
            var newPassword = $("#NewPassword").val();
            var rePassword =  $("#RePassword").val();
            var check = true;
            if (!newPassword) {
                $("#NewPasswordErr").text("Chưa nhập mật khẩu mới.");
                check = false;
            }else if (newPassword.length < 8) {
                $("#NewPasswordErr").text("Mật khẩu phải dài hơn 8 ký tự.");
                check = false;
            } else {
                $("#NewPasswordErr").text("");
            }
            if (newPassword!=rePassword) {
                $("#RePasswordErr").text("Mật khẩu nhập lại không khớp.");
                check = false;
            } else {
                $("#RePasswordErr").text("");
            }
            if (check) {
                $.ajax({
                    type: "POST",
                    url: "/Users/ResetPassword",
                    dataType: "json",
                    data: {
                        UserId: userid,
                        NewPassword: newPassword
                    },
                    success: function (response) {
                        if (response.Status == 0) {
                            $("#changePassError").addClass("text-danger").text(response.Message);
                        }
                        else {
                            confirm(response.Message);
                            $("#modal-changepass").modal('hide');
                        }
                    }
                });
            }
                //
                //Mật khẩu phải từ 8 ký tự trở lên
        }
        function userRoleAdd() {
            getRoleIds();
            if (roleIds.length === 0) {
                $("#message").addClass("text-warning").text("Bạn chưa chọn phân quyền");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/roles/adduserrole",
                    dataType: "json",
                    data: {
                        RoleIds: roleIds,
                        User_Id: userId
                    },
                    success: function (response) {
                        if (response.Status == 0) {
                            $("#message").addClass("text-danger").text("Không thực hiện được thao tác");
                        }
                        else {
                            $("#message").addClass("text-info").text("Cập nhật phân quyền thành công");
                        }
                    }
                });
            }
        }

        $(document).ready(function () {
            $("#users-index").addClass("active");
            $("#category").addClass("active menu-open");
        });

    </script>
}
